body {

    background-color: #e5e5e5
    

}

.download {

    text-align: center;
    color: white;
    background-color:blue;
    border: blue solid 5px;

}

.download:hover {

    color: blue;
    background-color:white;

}

link {
    text-decoration: none;
}