body {

    background-color: #e5e5e5
    

}

.download {

    text-align: center;
    color: white;
    background-color:blue;
    border: blue solid 5px;
    border-radius:20px;
    padding: 10px;
    margin: 5px;

}

.download:hover {

    color: blue;
    border: blue solid 5px;
    background-color:white;

}

.content {

    background-color: white;
    max-width: 600px;
    border: 5px solid blue;
    border-radius: 20px;
    color: black;
    padding: 10px;
    word-wrap: normal;

}

.content p{
    text-align: left;
}

.content img {

    border: 5px blue solid;
    border-radius: 20px;

}