body {
    background-color: #e5e5e5;
    color:black;

}


.locationbox {

    font: arial;
    background-color: white;
    display: inline-block;
    color:black;
    width: 750px;
    padding: 15px;
    margin-top: 50px;
    border: 5px solid blue ;
    border-radius: 20px;
    
}

.locationbox h1 {
    color:blue;
}

.hours{

    text-align: left;
    border: 5px solid blue;
    border-radius: 20px;
    width:250px;
    height: 200px;
    margin:10px;

}

.contact{

    text-align: left;
    border: 5px solid blue;
    border-radius: 20px;
    margin:0px;
    height: auto;;
    width:350px;

}

.clickformore{

    border: 5px solid blue;
    border-radius: 20px;
    background-color: blue;
    color: white;
    text-decoration: none;
    width:340px;
    margin:5px;

}

.clickformore:hover{
    background-color: white;
    color:blue;
    text-decoration: none;
}

.clickformore h2{
    text-decoration: none;
}


.contact li {
    
    list-style-type: none;

}

.separator {

    width: 350px;
    padding: 0px;
    display:inline-block;

}

.locationbox img {
    width:600px;
    height:450px;
    border: 5px solid blue ;
    border-radius: 20px;
    margin-left:50px;
}