/*  */

html, body {
    padding: 0;
    margin: 0;
}

/*  */
.header {

    /* TODO: Need to get a background image */
    height: auto;
    width: 100%;
    margin: 0;

}

/* Top margin div */
.margin {

    background-color: blue;
    height:50px;
    width: 100%;
    margin: 0;
    padding: 0;

}

/* The centered logo */
.logo img{

    border: 2px solid blue;
    border-radius: 200px;
    height: 400px;
    width: 400px;
    margin: 5px;

}

/* Dropdown Button */
.dropbtn {
    background-color: blue;
    border: none;
    height: 100%;
    color: white;
    font-size: 20px;
    cursor: pointer;
    font: Helvetica;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    height: 100%;
    position: relative;
    display: inline-block;
    background-color: blue;
    font-size: 20px;
    font: Helvetica;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    text-align: left;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font: Helvetica;
    border:blue 1px solid;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #0066ff;
}