.row {
    display:flex;
    justify-content: center;
}

.foodgroup {

    display: inline-block;
    background-color: white;
    border: 5px blue solid;
    border-radius: 20px;
    color: black;
    width: 250px;
    margin: 10px;

}

.foodgroup table
{
    color: black;
    list-style-type: none;
    padding: 5px;
    text-align: left;
}

.foodgroup th, td {
    padding-right:5px;
    padding-left:5px;
}