body {
    background-color: #e5e5e5;
}

.test {

    width: auto;
    display: inline-block;
    color: black;
    background-color: white;
    border: blue 5px solid;
    border-radius: 20px;
    padding: 10px;

}

.test h1 {

    text-align: center;

}

.test h1 img {
    height: 32px;
    width: 32px;
}

.test img {
    height: 32px;
    width: 32px;
}